@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;600&display=swap");
body {
  margin: 0;
  padding: 0;
  background-color: #f8f8f9;
  font-family: "Inter", sans-serif;
}
a {
  text-decoration: none;
  color: #607081;
  width: 100%;
}
.m-input {
  width: 150px !important;
  padding-left: 10px !important;
}
.m-input::placeholder {
  font-size: 14px;
}
.charts {
  margin: 60px 0 0 0;
  width: auto;
}
.chartCard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  gap: 50px;
}
.chartCard div {
  /* height: 300px; */
}
h3 {
  text-align: center;
}
.header {
  background-color: white;
  height: 72px;
  width: 100%;
  padding: 0 32px;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1;
}
.header span {
  font-weight: 300;
  font-size: 12px;
}
.logo svg {
  width: 135px;
  height: 27.3px;
}
.side-bar {
  --tw-bg-opacity: 1;
  margin-top: 72px;
  width: 250px;
  background-color: rgba(232, 233, 235, var(--tw-bg-opacity));
  bottom: 0;
  flex-direction: column;
  max-width: 100%;
  position: fixed;
  top: 0;
  transition-duration: 0.2s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  box-sizing: border-box;
  display: flex;
}
nav {
  overflow-y: hidden;
  background: linear-gradient(#e8e9eb 33%, hsla(0, 0%, 100%, 0)),
    linear-gradient(hsla(0, 0%, 100%, 0), #e8e9eb 66%) 0 100%,
    radial-gradient(farthest-side at 50% 0, hsla(0, 0%, 61%, 0.5), transparent),
    radial-gradient(
        farthest-side at 50% 100%,
        hsla(0, 0%, 61%, 0.5),
        transparent
      )
      0 100%;
  background-attachment: local, local, scroll, scroll;
  background-color: #e8e9eb;
  background-repeat: no-repeat;
  background-size: 100% 15px, 100% 15px, 100% 5px, 100% 5px;
  --tw-shadow: 0 0 #0000;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  height: 100%;
  max-height: 100vh;
  overflow-y: auto;
  padding-bottom: 0.625rem;
  padding-top: 0.625rem;
  overflow: overlay;
  overscroll-behavior: contain;
  position: relative;
  z-index: 1;
}
.sidebar-item-btn:hover {
  color: #463758;
}
.sidebar-item-btn:hover svg path,
.sidebar-item-btn:hover {
  fill: #463758;
  color: #463758;
}

.sidebar-item-btn {
  --tw-text-opacity: 1;
  color: rgba(70, 55, 88, var(--tw-text-opacity));
  padding-bottom: 0.625rem;
  padding-top: 0.625rem;
  --tw-text-opacity: 1;
  align-items: center;
  color: rgba(96, 112, 129, var(--tw-text-opacity));
  display: flex;
  font-size: 0.875rem;
  font-weight: 600;
  letter-spacing: -0.025rem;
  line-height: 1.25rem;
  padding: 0.875rem 1.5rem;
  position: relative;
  transition-duration: 0.2s;
  border-color: currentColor;
  height: 44px;
  box-sizing: border-box;
}
.sidebar-item img {
  align-items: center;
}
.sidebar-item span {
  align-items: center;
  line-height: 1.5rem;
  margin-left: 1rem;
  overflow: hidden;
  place-content: space-between;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.active *::after {
  --tw-bg-opacity: 1;
  background-color: rgba(43, 196, 195, var(--tw-bg-opacity));
  height: 2.25rem;
  left: 0;
  margin-top: 0.5rem;
  position: absolute;
  top: 0;
  width: 0.25rem;
  border: 0 solid;
  box-sizing: border-box;
  content: "";
  margin-top: 0.25rem;
}
.sidebar-toggle {
  align-items: center;
  background-color: rgba(232, 233, 235, 1);
  border-radius: 0.375rem;
  border: 4px solid rgba(248, 248, 249, 1);
  height: 18px;
  justify-content: center;
  position: absolute;
  right: -0.75rem;
  top: 0.75rem;
  transition-duration: 0.2s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: 18px;
  z-index: 10;
  display: flex;
}
/* Conteudo */
.titulo {
  color: rgba(70, 55, 88, 1);
  font-size: 24px;
}
.conteudo {
  flex-wrap: wrap;
  box-sizing: border-box;
  width: calc(80% - 250px);
  position: absolute;
  transition: 2s;
  top: 100px;
  left: 250px;
  right: 0;
  bottom: 0;
  margin: auto;
}
.resultado {
  border: 1px solid rgba(206, 212, 216, 1);
  background: white;
  border-radius: 0.25rem;
  border-width: 1px;
  padding: 32px 32px;
  box-sizing: border-box;
  margin-bottom: 50px;
}
/* BUSCA */
.div-table {
  margin-top: 60px;
}
.table {
  display: grid;
  grid-template-columns: 80px 1fr 200px 100px;
  width: 100%;
  color: #607081;
  font-size: 12px;
  padding: 10px 10px;
  box-sizing: border-box;
  align-items: center;
  border: 1px solid rgba(206, 212, 216, 1);
  margin-top: -1px;
  background-color: rgba(248, 248, 249, 1);
  font-weight: 600;
  border-radius: 0.25rem 0.25rem 0px 0px;
}

.table-row {
  display: grid;
  grid-template-columns: 80px 1fr 200px 100px;
  width: 100%;
  padding: 20px 10px;
  box-sizing: border-box;
  align-items: center;
  border: 1px solid rgba(206, 212, 216, 1);
  font-weight: 400;
  color: #463758;
  line-height: 21px;
  letter-spacing: -0.025rem;
  font-size: 14px;
  border-top: none;
  text-shadow: 0.1px 0 0#463758;
}
.table-row:hover {
  background-color: rgba(248, 248, 249, 1);
  transition: 0.3s;
}
.loja-status {
  display: inline;
  cursor: pointer;
}
.loja-status:hover {
  font-weight: 600;
  transition: 0.1s;
}
.loja-ativa {
  border-radius: 9999px;
  display: inline-block;
  padding: 5px;
  background-color: rgba(114, 203, 59, 1);
  justify-self: start;
  margin-right: 6px;
}
.loja-inativa {
  border-radius: 9999px;
  display: inline-block;
  padding: 5px;
  background-color: rgba(229, 0, 25, 1);
  justify-self: start;
  margin-right: 6px;
}
.modal-ativacao {
  background: rgba(0, 0, 0, 0.8);
  font-size: 20px;
  left: 0;
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.modal-content {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  font-size: 14px;
  width: 800px;
}
.confirm-dominio {
  font-weight: bold;
}
/* FIM BUSCA */
/* CADASTRAR LOJA */
input[type="text"] {
  padding: 0px 16px 0px 42.4px;
  height: 3rem;
  min-height: 48px;
  font-size: 0.875rem;
  letter-spacing: -0.025rem;
  line-height: 1.25rem;
  font-size: 14px;
  font-weight: 400px;
  color: #463758;
  width: 210px;
  border: 1px solid rgba(206, 212, 216, 1);
  background: white;
  border-radius: 0.25rem;
  border-width: 1px;
  outline: none;
}
input[type="text"]:focus {
  border-color: rgba(43, 196, 195, 1);
}
input[type="text"].input-pesquisa {
  background-image: url(img/search-svgrepo-com@2x.png);
  background-position: 7px 13px;
  background-repeat: no-repeat;
  background-size: 24px 24px;
}

button {
  align-items: center;
  background-color: rgba(43, 196, 195, 1);
  border-radius: 4px;
  box-shadow: 0 0 0 0 hsl(0deg 0% 100% / 0%);
  color: rgba(255, 255, 255, 1);
  font-size: 0.875rem;
  font-weight: 600;
  height: 48px;
  letter-spacing: -0.4px;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  text-align: center;
  text-decoration: none;
  outline: none;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}
button:hover {
  background-color: #0c9797;
}
.response {
  height: 10px;
  padding: 20px 32px;
  justify-itens: center;
  display: grid;
  font-size: 20px;
  position: absolute;
  width: 300px;
  right: -180px;
  top: -15px;
}
.sucess {
  align-items: center;
  background-color: #e3f3f3;
  border-color: #e3f3f3;
  border: 1px solid #2bc4c3;
  border-radius: 0.25rem;
  border-left: 4px solid #2bc4c3;
  color: rgba(70, 55, 88, 1);
  display: flex;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-shadow: none;
  padding: 20px 15px;
}
.fail {
  align-items: center;
  background-color: #ffd6db;
  border-color: rgba(229, 0, 25);
  border: 1px solid rgba(229, 0, 25);
  border-radius: 0.25rem;
  border-left: 4px solid rgba(229, 0, 25);
  color: rgba(70, 55, 88, 1);
  display: flex;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-shadow: none;
  padding: 20px 15px;
}

.btn-light {
  background-color: white;
  color: rgba(43, 196, 195, 1);
  border: 1px solid rgba(43, 196, 195, 1);
}
.btn-light:hover {
  background-color: rgba(43, 196, 196, 0.103);
}
.input-div-analise {
  display: flex;
  justify-content: space-between;
}

/* Media query */

@media only screen and (max-width: 1367px) {
  input[type="text"] {
    max-width: 120px;
    transition: 2s;
  }
  .conteudo {
    width: calc(100% - 250);
  }
}
@media only screen and (max-width: 1155px) {
  .table-row,
  .table {
    grid-template-columns: 100px 1fr 100px 100px;
  }
}
@media only screen and (max-width: 1370px) {
  .charts {
    height: 400px !important;
  }
}
@media only screen and (max-width: 1440px) {
  .charts {
    height: 400px !important;
  }
}
@media only screen and (max-width: 1680px) {
  .charts {
    height: 500px !important;
  }
}
@media only screen and (min-width: 1900px) {
  .charts {
    height: 700px !important;
  }
}
